[user]
	name = Gary Bishop
	email = gary.bishop.unc@gmail.com
[core]
        excludesfile = ~/.gitignore
[push]
	default = simple
[core]
attributesfile = ~/.gitattributes_global

[cola]
	spellcheck = false
	startupmode = list
[init]
	defaultBranch = main
